<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <script src='/javascripts/jquery-2.0.3.min.js'></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script src='/javascripts/bootstrap.min.js'></script>
    <script src="/socket.io/socket.io.js"></script>
    
  </head>
  <body>
    <div class="container">
      <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Node Tanks</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/play/">Play!</a></li>
            <li><a href="/guide/">Guide</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if((typeof(session) != "undefined") && (typeof(session['user_name']) != "undefined")){ %>
            <li><a href="/logout">Sign Out</a></li>
            <% }else{ %>
            <li><a href="/login">Log In</a></li>
            <% } %>

            <% if((typeof(session) != "undefined") && (typeof(session['user_name']) != "undefined")){ %>
            <li><a href="/account">Your Account</a></li>
            <% }else{ %>
            <li><a href="/register">Register</a></li>
            <% } %>
            <li class="active"><a href="/help/">Help</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>


      <% if((typeof(session) != "undefined") && (typeof(session['user_name']) != "undefined")){ %>
      <div class="container">
        <div><button id="user-create-btn" class="col-sm-12 col-md-12 btn btn-default" enabled>Click here to start your own game!</button></div>
        <div id="games" class="row">
        </div>
      </div>
      <% } else{ %>
        <div class="col-md-4"></div><div class="alert alert-danger col-md-4">You must be logged in to create or join a game.</div><div class="col-md-4"></div>
      <% } %>
    </div>
</body>   

<script>
  <% if((typeof(session) != "undefined") && (typeof(session['user_name']) != "undefined")){ %>
    $(document).ready(function(){
      io = io.connect(); 
      user_info = {user_name: '<%= session['user_name'] %>', email: '<%= session['email'] %>'}

      io.emit('joined_lobby', user_info);

      io.on('new_game_ack', function(data){
        console.log("Server has acknowledged the new game request.");
        console.log(data) //<--Should be the session data of the current user
      });

      io.on('show_current_games', function(data){
        console.log("New user entered the lobby. Server is sending a list of existing games: ", data)
        showAllGames(data)
      });

      io.on('new_game_waiting', function(data){
        console.log("Someone made a new game.");
        showAllGames(data)
      });

      io.on('game_matched', function(data){
        $("#user-create-btn").html(data.user_name + " joined your game!")
      });

      //TODO: Change a matched game's lobby text to "In progress" and the button from Join to "Spectate"

      io.on('go_play', function(data){
        window.location.href = '/play'
      });

      function showAllGames(data){
        $("#games").html("")
        for(var game in data){
          var html = "<div class='col-sm-6 col-md-3'>\
                        <div class='thumbnail'>\
                          <img src='/images/grass.jpg' alt='...'>\
                          <div class='caption'>\
                            <h3>" + data[game].user_name + "'s Game</h3>\
                            <p>Waiting for a partner...</p>\
                            <p><button class='btn btn-primary' role='button' game-id='" + data[game].email + "'>Join Game!</button></p>\
                          </div>\
                        </div>\
                      </div>";
          $("#games").append(html)
          var g = "[game-id='" + data[game].email + "']"
          $(g).click(function(){
            io.emit("i_want_to_join", {
              gameID: $(this).attr('game-id'),
              iam: user_info
              });
          });
        }
      }

      $("#user-create-btn").attr("user-id", '<%= session['email'] %>')
      $("#user-create-btn").click(function(){
        io.emit("create_game_for", user_info)
        $("#user-create-btn").attr("disabled", true)
        $("#user-create-btn").html("Waiting for someone to join your game...")
      })
    })
  <% } %>
</script>
<% if((typeof(session) != "undefined") && (typeof(session['user_name']) != "undefined")){ %>

<% } else{ %>

<% } %>
</html>