<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />    
  </head>
  <body>
    <div class="container">
      <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Node Tanks</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/guide/">Guide</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if((typeof(session) != "undefined") && (typeof(session['user_name']) != "undefined")){ %>
            <li><a href="/logout">Sign Out</a></li>
            <% }else{ %>
            <li><a href="/login">Log In</a></li>
            <% } %>

            <% if((typeof(session) != "undefined") && (typeof(session['user_name']) != "undefined")){ %>
            <li><a href="/account">Your Account</a></li>
            <% }else{ %>
            <li><a href="/register">Register</a></li>
            <% } %>
            <li><a href="/lobby/">Lobby</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
      <div id="playField" class="jumbotron col-md-12">
        <div style="display:inline;" class="col-md-4">
          <span class="glyphicon glyphicon-circle-arrow-up"><br>W</span>
          <span class="glyphicon glyphicon-circle-arrow-left"><br>A</span>
          <span class="glyphicon glyphicon-circle-arrow-down"><br>S</span>
          <span class="glyphicon glyphicon-circle-arrow-right"><br>D</span>
          <span class="glyphicon glyphicon-move"><br>Space</span>
        </div>
        <style>#scoreboard div{display: inline;}</style>
        <div id="scoreboard" class="col-md-4">
          <div>Player 1: </div>
          <div id="player1-score"> 0 </div>
          <div style="border:2px solid rgb(128,128,128)"></div>
          <div>Player 2: </div>
          <div id="player2-score"> 0 </div>

        </div>
        <div class="col-md-4"></div>
        <div>
          <canvas id="myCanvas" width="1000" height="600" tabindex="1" style="z-index: 2">Alas, your browser does not support HTML5 canvas and thus won't be able to play this game!</canvas>
        </div>
      </div>
    </div>
</body>   
<script src='/javascripts/jquery-2.0.3.min.js'></script>

<script src='/javascripts/bootstrap.min.js'></script>
<script src='/javascripts/maze.js'></script>
<script src='/javascripts/misc.js'></script>
<!-- <script src='/javascripts/game.js'></script> -->
<script src="/socket.io/socket.io.js"></script>
<script>

<% if((typeof(session) != "undefined") && (typeof(session['user_name']) != "undefined")){ %>
  $(document).ready(function(){
    alert("\
    W - Move up \n\
    A - Move left \n\
    S - Move down \n\
    D - Move right \n\
    Space - Throw shuriken \n\
    Note: You're using active camouflage! You're invisible to the enemy at the start until you move.\n\
    Also: The game won't start until both players click OK.")
    io = io.connect()

    user_info = {user_name: '<%= session['user_name'] %>', email: '<%= session['email'] %>'}

    io.emit('checking_in', user_info)

    io.on('checking_in_ack', function(){
      console.log("The server has acknoledged your checkin.")
    })

    io.on('you_are_player1', function(data){
      window.maze = data

      $.getScript("/javascripts/player1.js", function(){
        console.log(user_info.user_name + " has loaded the player1 code.")
        io.on('bullet_created', function(data){
          window.addBullet(data)
        })

        io.on('update_your_enemy', function(data){
          window.updateEnemy(data)
        })
      })
    })

    io.on('you_are_player2', function(data){
      window.maze = data

      $.getScript("/javascripts/player2.js", function(){
        console.log(user_info.user_name + " has loaded the player2 code.")
        io.on('bullet_created', function(data){
          window.addBullet(data)
        })

        io.on('update_your_enemy', function(data){
          window.updateEnemy(data)
        })
      })
    })

    var gameOver = false
    io.on('update_score', function(data){
      if(data == "player1"){
        var currentScore = parseInt($("#player2-score").html())
        currentScore++
        if(currentScore>9 && !gameOver){
          gameOver = !gameOver
          io.emit('end_game')
          alert("Player 2 wins!\nPress OK to return to the lobby.")
          window.location.href = '/lobby'
        }else{
          $("#player2-score").html(currentScore)
        }
      }else{
        var currentScore = parseInt($("#player1-score").html())
        currentScore++
        if(currentScore>9 && !gameOver){
          gameOver = !gameOver
          io.emit('end_game')
          alert("Player 1 wins!\nPress OK to return to the lobby.")
          window.location.href = '/lobby'
        }else{
          $("#player1-score").html(currentScore)
        }
      }
    })

  })
<% } %>


//Unrelated to the above code, but worth reading
//http://jlongster.com/Making-Sprite-based-Games-with-Canvas
</script>

</html>