<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <script src='/javascripts/jquery-2.0.3.min.js'></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script src='/javascripts/bootstrap.min.js'></script>
    
    
  </head>
  <body>
    <div class="container">
      <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Hold Fast!</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li class="active"><a href="/play/">Play!</a></li>
            <li><a href="/guide/">Guide</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if((typeof(session) != "undefined") && (typeof(session['user_name']) != "undefined")){ %>
            <li><a href="/logout">Sign Out</a></li>
            <% }else{ %>
            <li><a href="/login">Log In</a></li>
            <% } %>

            <% if((typeof(session) != "undefined") && (typeof(session['user_name']) != "undefined")){ %>
            <li><a href="/account">Your Account</a></li>
            <% }else{ %>
            <li><a href="/register">Register</a></li>
            <% } %>
            <li><a href="/help/">Help</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
      <div id="playField" class="jumbotron">
        <canvas id="cloud_demo_canvas" width="640" height="480">Alternative text if browser don't support canvas.</canvas>

      </div>
    </div>
</body>   

<script>
var canvas;
var ctx;
 
var background;
var width = 300;
var height = 200;

var cloud;
var cloud_x;
 
function init() {
  canvas = document.getElementById("cloud_demo_canvas");
  width = canvas.width;
  height = canvas.height;
  ctx = canvas.getContext("2d");
 
  // init background 
  background = new Image();
  background.src = 'http://silveiraneto.net/wp-content/uploads/2011/06/forest.png';
 
  // init cloud
  cloud = new Image();
  cloud.src = 'http://silveiraneto.net/wp-content/uploads/2011/06/cloud.png';
  cloud.onload = function(){
    console.log("On load called.");
    cloud_x = -cloud.width;
  };
 
  return setInterval(main_loop, 10);
}
 
function update(){
  cloud_x += 0.3;
  if (cloud_x > width ) {
    cloud_x = -cloud.width;
  }
}
 
function draw() {
  ctx.drawImage(background,0,0);
  ctx.drawImage(cloud, cloud_x, 0);
}
 
function main_loop() {
  draw();
  update();
}
 
init();

//Unrelated to the above code, but worth reading
//http://jlongster.com/Making-Sprite-based-Games-with-Canvas
</script>

</html>