<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />    
  </head>
  <body>
    <div class="container">
      <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Node Tanks</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li class="active"><a href="/play/">Play!</a></li>
            <li><a href="/guide/">Guide</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if((typeof(session) != "undefined") && (typeof(session['user_name']) != "undefined")){ %>
            <li><a href="/logout">Sign Out</a></li>
            <% }else{ %>
            <li><a href="/login">Log In</a></li>
            <% } %>

            <% if((typeof(session) != "undefined") && (typeof(session['user_name']) != "undefined")){ %>
            <li><a href="/account">Your Account</a></li>
            <% }else{ %>
            <li><a href="/register">Register</a></li>
            <% } %>
            <li><a href="/help/">Help</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
      <!-- <div class="col-md-2"> -->
      <div id="playField" class="jumbotron col-md-12">
        <!--<canvas id="bgCanvas" width="1000" height="600" style="position: absolute; z-index: 1"></canvas>-->
        <canvas id="myCanvas" width="1000" height="600" tabindex="1" style="z-index: 2">Alternative text if browser don't support canvas.</canvas>

      </div>
      <!-- <div class="col-md-2"> -->
    </div>
</body>   
<script src='/javascripts/jquery-2.0.3.min.js'></script>

<script src='/javascripts/bootstrap.min.js'></script>
<script src='/javascripts/maze.js'></script>
<script src='/javascripts/misc.js'></script>
<!-- <script src='/javascripts/game.js'></script> -->
<script src="/socket.io/socket.io.js"></script>
<script>

<% if((typeof(session) != "undefined") && (typeof(session['user_name']) != "undefined")){ %>
  $(document).ready(function(){
    io = io.connect()

    user_info = {user_name: '<%= session['user_name'] %>', email: '<%= session['email'] %>'}

    io.emit('checking_in', user_info)

    io.on('checking_in_ack', function(){
      console.log("The server has acknoledged your checkin.")
    })

    io.on('you_are_player1', function(data){
      window.maze = data

      $.getScript("/javascripts/player1.js", function(){
        console.log(user_info.user_name + " has loaded the player1 code.")
        io.on('bullet_created', function(data){
          window.addBullet(data)
        })

        io.on('update_your_enemy', function(data){
          window.updateEnemy(data)
        })
      })
    })

    io.on('you_are_player2', function(data){
      window.maze = data

      $.getScript("/javascripts/player2.js", function(){
        console.log(user_info.user_name + " has loaded the player2 code.")
        io.on('bullet_created', function(data){
          window.addBullet(data)
        })

        io.on('update_your_enemy', function(data){
          window.updateEnemy(data)
        })
      })
    })

  })
<% } %>


//Unrelated to the above code, but worth reading
//http://jlongster.com/Making-Sprite-based-Games-with-Canvas
</script>

</html>